@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.heading {
  text-align: center;
}

.loader-wrapper {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 50px;
  aspect-ratio: 1;
  --_c: no-repeat radial-gradient(farthest-side, #25b09b 92%, #0000);
  background: var(--_c) top, var(--_c) left, var(--_c) right, var(--_c) bottom;
  background-size: 12px 12px;
  animation: l7 1s infinite;
}

.wrapper {
  padding: 4px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 1px 3px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  margin-bottom: 20px;
}

.viewer {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  margin: 10px 0;
  margin-bottom: 0;
}

@keyframes l7 {
  to {
    transform: rotate(0.5turn);
  }
}
